<H1> Employee Details </H1>

<!--  comment  --!>

<p>
  <strong>Employee Id:</strong>
  <%= @employee.id %>
</p><br>

<p>
  <strong>Title:</strong>
  <%= @employee.title %>
</p><br>

 
<p>
  <strong>Firstname:</strong>
  <%= @employee.firstname %>
</p><br>


<p>
  <strong>Surname:</strong>
  <%= @employee.surname %>
</p><br>

 
<p>
  <strong>Date of Birth:</strong>
  <%= @employee.dob %>
</p><br>


<p>
  <strong>Address:</strong>
  <%= @employee.address %>
</p><br>

 
<p>
  <strong>Phonenumber:</strong>
  <%= @employee.phonenumber %>
</p><br>


<p>
  <strong>Emailid:</strong>
  <%= @employee.emailid %>
</p><br>

 
<p>
  <strong>Gender:</strong>
  <%= @employee.gender %>
</p><br>

 
<%= link_to 'Edit', edit_employee_path(@employee) %> | <%= link_to 'Back to index', employees_path %> | <%= link_to 'Annual Leaves', employee_annualleave_index_path(@employee) %>