<H1> Annual Leave Request Details </H1><br><br>

<p>
  <strong>Annual Leave starts on:</strong>
  <%= @annualleave.startdate %>
</p>

<p>
  <strong>Annual Leave ends on:</strong>
  <%= @annualleave.enddate %>
</p>
 
<p>
  <strong>comment:</strong>
  <%= @annualleave.leavecomment %>
</p>

<p>
  <strong>Requested for Annual leaves on:</strong>
  <%= @annualleave.created_at %>
</p>


<%= link_to 'Back to index', employees_path %> | <%= link_to 'New Employee', new_employee_path %>